.input {
    width: 100%;
    border-radius: 12px;
    padding: 12px;
    transition: all 0.2s ease-in-out;
}


.label-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0 0 10px 0;
}

.label-s {
    font-size: 13px;
    font-weight: 350;
    line-height: 22px;
    color: #8C8C9A;
}

.helper-text {
    font-size: 14px;
    font-weight: 550;
    line-height: 17px;
    color: #8C8C9A;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;

}

.max-w-md {
    width: 400px;
    max-width: 400px;
}


.Buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 100%;
    width: 400px;
}

.Button {
    border-radius: 12px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.01px;
    transition: all 0.2s ease-in-out;
}

.brand {
    background-color: #FFFFFF;
    border: 1px solid #0050FF;
}

.warning {
    background-color: #FAF1B6;
    border: 1px solid #A56315;
    color: #A56315;
}

.danger {
    background-color: #FFDCDC;
    border: 1px solid #DC2828;
    color: #DC2828;
}

.brand:hover,
.warning:hover,
.danger:hover {
    background-color: #1A1A1A0F;
}

.brand:focus,
.warning:focus,
.danger:focus {
    background-color: #1A1A1ACC;
}

.content-m {
    color: #8C8C9A
}

.content-x-high {
    color: #2C2C31;
}

.content-low {
    color: #C9C9CE;
}

.label-Medium {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.16px;
}

.label-Small {
    font-size: 14px;
    font-weight: 550;
    line-height: 17px;
    letter-spacing: 0.16px
}

.body-Small {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.01px;
}

.space-XS {
    letter-spacing: 8px;
}

.space-S {
    letter-spacing: 12px;
}

.space-M {
    letter-spacing: 16px;
}

.space-L {
    letter-spacing: 20px;
}